<mat-card *ngIf="blogpost as bp, else loading">
    <form  #formDirective="ngForm" (ngSubmit)="updateBlogpost(formDirective)">
        <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="Title" [(ngModel)]="bp.title" name="title" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Sub-title"  [(ngModel)]="bp.subTitle" name="subTitle" required>
            </mat-form-field>
            <angular-editor [placeholder]="'Enter text here...'"  [(ngModel)]="bp.content"  [config]="editorConfig" name="content" required></angular-editor>
            <label > Choose image</label>
            <input type="file" name="image" id="image">
            <button mat-button type="button" (click)="upload()">Upload image</button>
            <button type="submit" mat-button>Update blog post</button>
        </div>
    </form>
</mat-card>

<ng-template #loading>
    ...loading
</ng-template>

