<mat-card class="example-card" *ngIf="(blogPost$ | async) as bp; else loading">
    <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{ bp.title }}</mat-card-title>
        <mat-card-subtitle>{{ bp.subTitle }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]=" bp.image ? imagePath + bp.image : imageDefault " alt="{{ bp.title }}">
    <mat-card-content>
        <p [innerHTML]="bp.content"></p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="onLike(bp)">{{ bp.like }} LIKE</button>
        <button mat-button (click)="onDislike(bp)">{{ bp.disLike }} DISLIKE</button>
    </mat-card-actions>
</mat-card>

<ng-template #loading>
    ...loading
</ng-template>
