.example-card {
    padding-bottom: 30px;
    border-radius: 0px;
  }
mat-card img{
    width: 100%;
    padding-left: 15px;
}


.mat-card-header-text {
    margin: 0 16px;
    border: 2px solid green;
}

  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
